<div class="bg-form"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('https://source.unsplash.com/t7wg7BJU2-s/1600x900')">


  <div class="form">
    <h1>
        EDIT <br>
        YOUR <br>
      COCKTAIL .
    </h1>

    <%= render 'form' %>

  </div>
  </div>

  <div id="footer" class="col-xs-12 col-sm-12 col-md-12>"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
    url('https://res.cloudinary.com/dytx1bbld/image/upload/v1565343428/be7lclbe4zxwsszqxhuz.jpg')">

    <h2>
      <%=link_to "BACK TO COCKTAILS", cocktails_path, class:"back" %>
    <h2>

  </div>
