$c1: #DCDCDC;
$gb: #2A2F36;
$lgb: #2F343B;


#banner {
  height: 40vw;
  background-size: cover;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: relative;
  z-index: 10;
  display: flex;
  h1 {
    font-size: 20vw;
    font-family: impact;
    font-style: bold;
    align-self: flex-end;
    margin: 0px;
    position: relative;
    bottom: 1vh;
    line-height: 88%;
  }
  // line-height: 10%;
  letter-spacing: 5px;
  overflow: hidden;
}

.title {
    font-family: impact;
    font-style: bold;
    color: $gb;
    text-align: center;
    padding: 5vw;
    line-height: 88%;
    margin-bottom: 0px;
    margin-top: 20px;
    h1 {
      margin-bottom: 0px;
      font-size: 20vw;
    }
}



#banner-typed-text {
    height: 40vw;
    width: 50vw;
    margin-bottom: 0px;
    font-size: 20vw;
  }

