$c1: #DCDCDC;
$gb: #2A2F36;
$lgb: #2F343B;


#banner {
  height: 55vh;
  background-size: cover;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  // position: fixed;
  z-index: 10;
  display: flex;
  h1 {
    font-size: 16rem;
    font-family: impact;
    font-style: bold;
    align-self: flex-end;
  }
  // padding-left: 10%;
  line-height: 10%;
  letter-spacing: 10px;
  overflow: hidden;
}

.title {
    font-size: 16rem;
    font-family: impact;
    font-style: bold;
    color: $gb;
    margin-left: 10%;
    line-height: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
    h1 {
      margin-bottom: 0px;
    }
}


#banner-typed-text {
  height: 32rem;
  width: 50vw
}
