$c1: #DCDCDC;
$gb: #2A2F36;
$lgb: #2F343B;

.back {
  color: $c1 ;
  padding: 0px 15px;
  margin: 0px auto;
  text-align: center;
}

.back:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.btd {
  width: 100%;
  color: white ;
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;
  background: black;
  box-shadow: 2px 2px 10px $c1;
}

.btd:hover {
  opacity: 1;
  text-decoration: none;
  background: white;
  color: black;
}

.bta {
  color: $lgb ;
}

.bta:hover {
  opacity: 1;
  padding: 5px 15px;
  border-radius: 5px;
  background: $c1;
  box-shadow: 2px 2px 10px $c1;
  text-decoration: none;
  background: $lgb;
  color: white;
}
