$grey: #303339;
$c1: #DCDCDC;
$lgb: #2F343B;
$grid-gutter-width: 2vw !default;

.row {
  display: flex;
  align-items:center;
  justify-content:center;
}

.card {
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  color: white;
  padding: 10px;
  overflow:scroll;
}

.card-description {
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  color: $grey;
  margin: 4vh auto;
  margin-bottom: 15vh ;
  padding: 20px;
  h2 {
    font-family: impact;
    letter-spacing: 0.3vw;
    font-size: 7vw;
  }
}

li, ul {
  margin-left: 0px;
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

.card-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-align: center;
  font-family:impact;
  letter-spacing: 2px;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px $c1;
  background: cover;
  margin: 10px auto;
}

.card-category:hover {
  text-decoration: none;
  color: $c1;
}
