$grey: #303339;

#footer {
  height: 6vmin;
  width: 100vw;
  background-size: cover;
  text-align: center;
  // padding: 10px;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: fixed;
  bottom: 0px;
  z-index: 10;
    h2 {
    font-family: impact;
    font-style: bold;
    letter-spacing: 5px;
    font-size: 5vmin;
    margin: 0px;
  }
}

#footer_up {
  width: 100vw;
  height: 6vmin;
  background-size: cover;
  text-align: center;
  // padding: 5px;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: fixed;
  bottom: 6vmin;
  z-index: 10;
    h2 {
    font-family: impact;
    font-style: bold;
    letter-spacing: 5px;
    font-size: 5vmin;
  }
}
