
$grey: #303339;
$c1: #DCDCDC;
$lgb: #2F343B;

.form {
  width: 70%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: left;
  color: $grey;
  margin:  50px auto;
  padding: 20px;
  h2 {
  font-family: impact;
  letter-spacing: 2px;
  text-align: left;
  overflow: hidden;
  }
}

